<nav>
  <div class="nav-container">
    <a class="nav-logo" href="/">Blogify</a>

    <button
      class="menu-toggle"
      aria-label="Toggle navigation"
      style="display: none"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="nav-links">
      <li>
        <a class="nav-link" href="/">Home</a>
      </li>
      <% if (locals.user) { %>
       <li>
          <a class="nav-link" href="/blog/add-new">Add Blog</a>
        </li>
        <li class="dropdown">
          <a
            class="nav-link"
           href="/"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
          <%= locals.user.name %> <span class="arrow">▼</span>
          </a>
          
          
            <li><a class="dropdown-item" href="/user/logout">Log Out</a></li>
          
        </li>
      <% } else { %>
       <li>
          <a class="nav-link" href="/user/login">Login</a>
        </li>
        <li>
          <a class="nav-link" href="/user/signup">Sign Up</a>
        </li>
      <% } %>

    </ul>
    <!-- <div class="auth-buttons" style="display: none">
      <a href="/user/login" class="nav-link">Login</a>
      <a
        href="/user/signup"
        class="btn btn-primary"
        style="padding: 0.5rem 1rem; width: auto"
        >Sign Up</a
      >
    </div> -->
  </nav>
  <% if (locals.error) { %>
    <div class="container" style="background-color: red; opacity: 0.7; border: 1px solid red; border-radius: 10px; padding: 10px; margin-top: 10px; font-size: 20px; font-weight: bold; text-align: center; color: black;">
         <div class="alert alert-danger" role="alert">
           <%= locals.error %>
         </div>
        </div>
        <% } %>
