<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/Head.ejs') %> 
</head>
<body>
    <%- include ("../partials/nav.ejs") %> 
    <h1>Blogify</h1>
    <p>Welcome <%= user.UserName %> </p>
    
  </body>
  <%- include('../partials/scripts.ejs') %>
</html>