<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/Head.ejs') %>
  </head>
  <body>
    <%- include ("../partials/nav.ejs") %>

    <main class="main-content">
      <div class="container hero">
        <% if (locals.user) { %>
        <h1>Hello <%= locals.user.name %></h1>
        <% } %>
        <h1>Welcome to Blogify</h1>
        <p>Your space to share stories, ideas, and expertise with the world.</p>
      </div>
    </main>

    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
